@model List<BildirimListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

@if (Model.Count > 0)
{
    @foreach (var bildirim in Model)
    {
        <div class="alert alert-light p-3 my-2">
            <form asp-action="Index" method="post">
                <p class="lead">
                    <input type="hidden" name="id" value="@bildirim.Id" />
                    @bildirim.Aciklama
                    <button type="submit" class="btn btn-sm btn-primary float-right">Okundu</button>
                </p>
            </form>
        </div>
    }
}
else
{
    <div class="alert alert-light ">
        <p class="lead"> Okunmamış bildiriminiz bulunmamaktadır.</p>
    </div>
}


