
@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}
<div class="col-md-4 mx-auto mt-5">
    <img src="~/img/warning.jpg" class="w-100 img-fluid" />
</div>
<div class="col-md-8 display-4 mx-auto text-center">
    @ViewBag.Code  </br>
    @ViewBag.Message
</div>

